# Ignore everything
*

# Include only .gitignore
!.gitignore

# Include express/src folder and its contents
!express/
!express/src/
!express/src/**


# Ignore specific files inside express folder
express/.env
express/tsconfig.json
express/package.json